{% extends 'core/base.html' %}

{% block titulo %}Caixa de Entrada{% endblock %}

{% block conteudo %}

    <h1 class="mt-4">Caixa de Entrada</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Caixa de Entrada</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Remetente</th>
                            <th>Data</th>
                            <th>Assunto</th>
                            <th>Mensagem</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Remetente</th>
                            <th>Data</th>
                            <th>Assunto</th>
                            <th>Mensagem</th>
                            <th>Ações</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for email in emails.emails %}
                            <tr>
                                <td>{{ email.sender }}</td>
                                <td>{{ email.created_at }}</td>
                                <td>{{ email.subject }}</td>
                                <td>{{ email.body }}</td>
                                <td>
                                    <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary" onclick="fillModal('Destinatário', '{{ email.receiver }}', '{{ email.name }}', '{{ email.subject }}', '{{ email.body }}', '{{ email.id }}', '{{ email.created_at }}', '{{ email.replies|escapejs }}')">Visualizar</button>
                                    <a class="btn btn-danger" href="/delete?id={{ email.id }}&source=receiver">Deletar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}